* {
    box-sizing: border-box;
    transition: all .3s linear;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 93, 96, 0.8);
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0;
}

.show {
    opacity: 1;
    z-index: 10000;
}

.show-edit {
    opacity: 1;
    z-index: 10000;
}

.form-user {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: -160%;
}

.edit-user {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: -160%;
}

.show-edit .edit-user {
    top: 14%;
}

.show .form-user {
    top: 14%
}

.create-user {
    width: 100%;
}